html, body{
    margin: 0;
    padding: 0;
}
body {
	color: #fff;
	background: #63738a;
	font-family: 'Roboto', sans-serif;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer a{
    color: black;
}

.footer a:hover{
    color: darkslategray;
}