{% extends "base/base.html" %}
{% load static %}
	
{% block contenido_head %}
    <link rel="stylesheet" href="{% static 'css/main/forms_reg-inicio.css' %}">
{% endblock %}

{% block contenido_body %}
<div class="signup-form">
    <form id="RegistroForm" action="" method="POST">
        {% csrf_token %}
		<h2>Registrate</h2>
		<p class="hint-text">Crea tu cuenta.</p>
        <div class="form-group">
			<div class="row">
				<div class="col">{{form.nombres}}</div>
				<div class="col">{{form.apellidos}}</div>
            </div>        	
            {% if form.nombres.errors %}
                {% for error in form.nombres.errors %}
                    <div class="alert alert-danger mb-1" role="alert"><small>{{ error|escape }}</small></div>
                {% endfor %}
            {% endif %}
            {% if form.apellidos.errors %}
                {% for error in form.apellidos.errors %}
                    <div class="alert alert-danger mb-1" role="alert"><small>{{ error|escape }}</small></div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{form.cedula}}
            {% if form.cedula.errors %}
                {% for error in form.cedula.errors %}
                    <div class="alert alert-danger mb-1" role="alert"><small>{{ error|escape }}</small></div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{form.email}}
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <div class="alert alert-danger mb-1" role="alert"><small>{{ error|escape }}</small></div>
                {% endfor %}
            {% endif %}
        </div>
		<div class="form-group">
            {{form.password1}}
            {% if form.password1.errors %}
                {% for error in form.password1.errors %}
                    <div class="alert alert-danger mb-1" role="alert"><small>{{ error|escape }}</small></div>
                {% endfor %}
            {% endif %}
        </div>
		<div class="form-group">
            {{form.password2}}
        </div>        
        <div class="form-group">
			<label class="form-check-label"><input type="checkbox" required="required"> Acepto los <a href="#">Terminos de Servicio</a> &amp; <a href="#">Politica de Privacidad</a></label>
		</div>
		<div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Registrar Cuenta</button>
        </div>
    </form>
	<div class="text-center">Ya tienes una cuenta? <a href="{% url 'PaginaFormIniciarSesion' %}">Iniciar Sesión</a></div>
    <div class="text-center">Haz olvidado tu contraseña? <a href="{% url 'PaginaFormOlvideContra' %}">Recuperar Cuenta</a></div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExito">
        Launch demo modal
      </button>
</div>
<!-- Modal Éxito Crear Cuenta-->
<div class="modal fade" id="modalExito" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="Modal de éxito" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success d-block text-center">
                <h5 class="modal-title text-white" id="exampleModalLabel">CREACIÓN ÉXITOSA</h5>
            </div>
            <div class="modal-body bg-light">
                <p class="text-dark text-justify">Se ha creado tu cuenta con éxito. Favor de esperar a que el administrador verifique y te de acceso.</p>
                <div class="text-center">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block contenido_scripts %}
<script type="module" src="{% static 'js/base/registro.js' %}"></script>
{% endblock %}

