{% extends "base/baselogged.html" %}
{% load static %}
	
{% block contenido_head %}
	<!--<link rel="stylesheet" href="{% static 'css/main/home.css' %}">-->
{% endblock %}

{% block contenido_body %}
    <div class="container mt-5 mb-5">
        <div class="card shadow-lg border-0 rounded-lg">
            <h5 class="card-header text-center">Formulario BECK</h5>
            <div class="card-body">
                <form action="">
                <h2>Paciente a Diagnosticar</h1>
                <div class="form-row justify-content-center">
                    <div class="form-group col-md-12 col-lg-6">
                        <select id="paciente" name="paciente" class="form-control">
                                <option selected></option>
                                <option>Rafael</option>
                                <option>Ricardo</option>
                                <option>Estefania</option>
                                <option>Mohana</option>
                                <option>Lindsay</option>
                            </select>
                    </div>
                </div>
                <h2>Datos Especificos</h2>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="tristeza">Tristeza</label>
                            <select id="tristeza" name="tristeza" class="form-control">
                                <option selected value="0">No me siento triste.</option>
                                <option value="1">Me siento triste gran parte del tiempo.</option>
                                <option value="2">Me siento triste todo el tiempo.</option>
                                <option value="3">Me siento tan triste o soy tan infeliz que no puedo soportarlo.</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="pesimismo">Pesimismo</label>
                            <select id="pesimismo" name="pesimismo" class="form-control">
                                <option selected value="0">No estoy desalentado respecto del mi futuro.</option>
                                <option value="1">Me siento más desalentado respecto de mi futuro que lo que solía estarlo.</option>
                                <option value="2">No espero que las cosas funcionen para mi.</option>
                                <option value="3">Siento que no hay esperanza para mi futuro y que sólo puede empeora.</option>
                            </select>
                        </div>
                         
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="fracaso">Fracaso</label>
                            <select id="fracaso" name="fracaso" class="form-control">
                                <option selected value="0">No me siento como un fracasado.</option>
                                <option value="1">He fracasado más de lo que hubiera debido.</option>
                                <option value="2">Cuando miro hacia atrás, veo muchos fracasos.</option>
                                <option value="3">Siento que como persona soy un fracaso total.</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="perdida_placer">Pérdida de Placer</label>
                            <select id="perdida_placer" name="perdida_placer" class="form-control">
                                <option selected value="0">Obtengo tanto placer como siempre por las cosas de las que disfruto.</option>
                                <option value="1">No disfruto tanto de las cosas como solía hacerlo.</option>
                                <option value="2">Obtengo muy poco placer de las cosas que solía disfrutar.</option>
                                <option value="3">No puedo obtener ningún placer de las cosas de las que solía disfrutar.</option>
                            </select>
                        </div>
    
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="sentimiento_culpa">Sentimientos de Culpa</label>
                            <select id="sentimiento_culpa" name="sentimiento_culpa" class="form-control">
                               
                                <option selected value="0">No me siento particularmente culpable.</option>
                                <option value="1">Me siento culpable respecto de varias cosas que he hecho o que debería haber hecho.</option>
                                <option value="2">Me siento bastante culpable la mayor parte del tiempo.</option>
                                <option value="3">Me siento culpable todo el tiempo.</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="sentimiento_castigo">Sentimientos de Castigo</label>
                            <select id="sentimiento_castigo" name="sentimiento_castigo" class="form-control">
                                <option selected value="0">No siento que este siendo castigado.</option>
                                <option value="1">Siento que tal vez pueda ser castigado.</option>
                                <option value="2">Espero ser castigado.</option>
                                <option value="3">Siento que estoy siendo castigado.</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="disconformidad_unomismo">Disconformidad con uno mismo</label>
                            <select id="disconformidad_unomismo" name="disconformidad_unomismo" class="form-control">
                                <option selected value="0">Siento acerca de mi lo mismo que siempre.</option>
                                <option value="1">He perdido la confianza en mí mismo.</option>
                                <option value="2">Estoy decepcionado conmigo mismo.</option>
                                <option value="3">No me gusto a mí mismo.</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="autocritica">Autocrítica</label>
                            <select id="autocritica" name="autocritica" class="form-control">
                                <option selected value="0">No me critico ni me culpo más de lo habitual.</option>
                                <option value="1">Estoy más crítico conmigo mismo de lo que solía estarlo.</option>
                                <option value="2">Me critico a mí mismo por todos mis errores.</option>
                                <option value="3">Me culpo a mí mismo por todo lo malo que sucede.</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="llanto">Llanto</label>
                            <select id="llanto" name="llanto" class="form-control">
                                <option selected value="0">No lloro más de lo que solía hacerlo.</option>
                                <option value="1">Lloro más de lo que solía hacerlo.</option>
                                <option value="2">Lloro por cualquier pequeñez.</option>
                                <option value="3">Siento ganas de llorar pero no puedo.</option>
                            </select>
                        </div>   
                        <div class="form-group col-md-6">
                            <label for="agitacion">Agitación</label>
                            <select id="agitacion" name="agitacion" class="form-control">
                                <option selected value="0">No estoy más inquieto o tenso que lo habitual.</option>
                                <option value="1">Me siento más inquieto o tenso que lo habitual.</option>
                                <option value="2">Estoy tan inquieto o agitado que me es difícil quedarme quieto.</option>
                                <option value="3">Estoy tan inquieto o agitado que tengo que estar siempre en movimiento o haciendo algo.</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="perdida_interes">Pérdida de Interés</label>
                            <select id="perdida_interes" name="perdida_interes" class="form-control">
                                <option selected value="0">No he perdido el interés en otras actividades o personas.</option>
                                <option value="1">Estoy menos interesado que antes en otras personas o cosas.</option>
                                <option value="2">He perdido casi todo el interés en otras personas o cosas.</option>
                                <option value="3">Me es difícil interesarme por algo.</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="indecision">Indecisión</label>
                            <select id="indecision" name="indecision" class="form-control">
                                <option selected value="0">Tomo mis propias decisiones tan bien como siempre.</option>
                                <option value="1">Me resulta más difícil que de costumbre tomar decisiones.</option>
                                <option value="2">Encuentro mucha más dificultad que antes para tomar decisiones.</option>
                                <option value="3">Tengo problemas para tomar cualquier decisión.</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="desvalorizacion">Desvalorización</label>
                            <select id="desvalorizacion" name="desvalorizacion" class="form-control">
                                <option selected value="0">No siento que yo no sea valioso.</option>
                                <option value="1">No me considero a mi mismo tan valioso y útil como solía considerarme.</option>
                                <option value="2">Me siento menos valioso cuando me comparo con otros.</option>
                                <option value="3">Siento que no valgo nada.</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="perdida_energia">Pérdida de Energía</label>
                            <select id="perdida_energia" name="perdida_energia" class="form-control">
                                <option selected value="0">Tengo tanta energía como siempre.</option>
                                <option  value="1">Tengo menos energía que la que solía tener.</option>
                                <option value="2">No tengo suficiente energía para hacer demasiado.</option>
                                <option value="3">No tengo energía suficiente para hacer nada.</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="cambios_habi_sueños">Cambios en los Hábitos de Sueño</label>
                            <select id="cambios_habi_sueños" name="cambios_habi_sueños" class="form-control">  
                                <option selected value="0">No he experimentado ningún cambio en mis hábitos de sueño.</option>
                                <option value="1">Duermo un poco más que lo habitual.</option>
                                <option value="1">Duermo un poco menos que lo habitual.</option>
                                <option value="2">Duermo mucho más que lo habitual.</option>
                                <option value="2">Duermo mucho menos que lo habitual.</option>
                                <option value="3">Duermo la mayor parte del día.</option>
                                <option value="3">Me despierto 1-2 horas más temprano y no puedo volver a dormirme .</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="irritabilidad">Irritabilidad</label>
                            <select id="irritabilidad" name="irritabilidad" class="form-control">
                                <option selected value="0">No estoy tan irritable que lo habitual.</option>
                                <option value="1">Estoy más irritable que lo habitual.</option>
                                <option value="2">Estoy mucho más irritable que lo habitual.</option>
                                <option value="3">Estoy irritable todo el tiempo.</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="cambios_apetito">Cambios en el Apetito</label>
                            <select id="cambios_apetito" name="cambios_apetito" class="form-control">                              
                                <option selected value="0">No he experimentado ningún cambio en mi apetito.</option>
                                <option value="1">Mi apetito es un poco menor que lo habitual.</option>
                                <option value="1">Mi apetito es un poco mayor que lo habitual.</option>
                                <option value="2">Mi apetito es mucho menor que antes.</option>
                                <option value="2">Mi apetito es mucho mayor que lo habitual.</option>
                                <option value="3">No tengo apetito en absoluto.</option>
                                <option value="3">Quiero comer todo el día.</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="dificultad_concentracion">Dificultad de Concentración</label>
                            <select id="dificultad_concentracion" name="dificultad_concentracion" class="form-control">
                                <option value="0">Puedo concentrarme tan bien como siempre.</option>
                                <option value="1">No puedo concentrarme tan bien como habitualmente.</option>
                                <option value="2">Me es difícil mantener la mente en algo por mucho tiempo.</option>
                                <option value="3">Encuentro que no puedo concentrarme en nada. </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="cansancio">Cansancio o Fatiga</label>
                            <select id="cansancio" name="cansancio" class="form-control">
                                <option value="0">No estoy más cansado o fatigado que lo habitual.</option>
                                <option value="1">Me fatigo o me canso más fácilmente que lo habitual.</option>
                                <option value="2">Estoy demasiado fatigado o cansado para hacer muchas de las cosas que solía hacer.</option>
                                <option value="3">Estoy demasiado fatigado o cansado para hacer la mayoría de las cosas que solía hacer.</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="perdida_interes_sexo">Pérdida de Interés en el Sexo</label>
                            <select id="perdida_interes_sexo" name="perdida_interes_sexo" class="form-control">
                                <option value="0">No he notado ningún cambio reciente en mi interés por el sexo.</option>
                                <option value="1">Estoy menos interesado en el sexo de lo que solía estarlo.</option>
                                <option value="2">Estoy mucho menos interesado en el sexo.</option>
                                <option value="3">He perdido completamente el interés en el sexo.</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-lg btn-block">Realizar Diagnostico</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

