{% load static %}

<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="{% static "img/navbarItems/LogoSNLetras.png" %}" width="90" height="90" alt="Logo oficial PSYQUIA"><img src="{% static "img/navbarItems/slogan.png" %}" width="180" height="50" alt="Slogan oficial PSYQUIA"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'PaginaInicioAnonimo' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'PaginaFormIniciarSesion' %}">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'PaginaFormRegistro' %}">Registrarse</a>
                </li>
            </ul>
        </div>
    </nav>
</header>