{% load static %}

<nav class="navbar navbar-expand-md navbar-light bg-light justify-content-end">
    <a class="navbar-brand" href="#"><img src="{% static "img/navbarItems/LogoSNLetras.png" %}" width="90" height="90" alt="Logo oficial PSYQUIA"><img src="{% static "img/navbarItems/slogan.png" %}" width="180" height="50" alt="Slogan oficial PSYQUIA"></a>

    <div class="saludoBienvenida ml-auto mr-1 text-right">
    	<p>BIENVENIDO</p>
		<p>WELCOME</p>   	
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
        <ul class="navbar-nav text-right">
            <li class="nav-item active">
                <a class="nav-link" href="#">Iniciar Sesión</a>
            </li>
        </ul>
    </div>
</nav>